@import "/src/styles.css";

.rules-page-namespace.page-wrap {
  width: 100%;
  height: 100vh;
  background-color: var(--stie-bg-color-quiz);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "p_main";
}

.rules-page-namespace.page-main {
}

.rules-page-namespace.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-card {
  width: 50rem;
  height: fit-content;
  padding-bottom: 2rem;
  border: 3px solid var(--dui-primary-color);
  box-shadow: 3px 3px 10px 5px var(--dui-primary-color);

  display: flex;
  flex-direction: column;
}

.rules-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-card__rules-list {
  margin: 0rem 2rem auto 2rem;
}
.rules-card__rules-list > li {
  margin: 1rem 0rem 1rem 0rem;
}

.rules-card__actions {
  display: flex;
  margin-top: 4.8rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.rules-card__action:last-child {
  margin-left: auto;
}

.rules-page-namespace.dui-link {
  display: block;
}

.dui-btn--primary {
  border: 2px solid var(--dui-primary-color);
}
