@import "/src/styles.css";

.quiz-page-namespace.page-nav {
  grid-area: p_nav;
}

.quiz-page-namespace.page-main {
  grid-area: p_main;
}

.quiz-page-namespace.page-wrap {
  width: 100%;
  height: 100vh;
  background-color: var(--stie-bg-color-quiz);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7.5rem 1fr;
  grid-template-areas:
    "p_nav p_nav"
    "p_main p_main";
}

.quiz-page-namespace.main-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
}

.question-card {
  width: 70rem;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.question-card__question {
  margin: 2rem 0rem;
}

.question-card__status {
  width: 100%;
  height: fit-content;
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
}

.question-card__ques-status {
  flex-grow: 1;
}

.question-card__score-status {
  flex-grow: 1;
}

.question-card__options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.question-card__option {
  width: 100%;
  background-color: var(--quiz-app-option-color);
}

.question-card__option:hover {
  background-color: var(--dui-primary-color-opc-75pct);
}

@media only screen and (max-width: 1070px) {
  .question-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media only screen and (max-width: 1070px) {
  html {
    font-size: 40%;
  }
}
